---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
import ButtonPrimary from "./ButtonPrimary.astro";

const { time, name, description, url, dataColor, nameBgImg } = Astro.props;

const urlBgImg = `url("/images/${nameBgImg}")`;
---

<div class="card-color" data-card-color={dataColor}>
  <div
    class="card-color--layout min-[600px]:grid-cols-[1fr_auto] items-center px-12 py-6 text-start justify-start min-[600px]:justify-center"
  >
    <div class="justify-self-start">
      <div
        class="card-color--time bg-white/10 text-white mb-2 grid place-content-center rounded-lg w-fit px-2"
      >
        <small>{time}</small>
      </div>
      <h4 class="text-white font-medium">{name}</h4>
      <span class="text-pal_white">{description}</span>
    </div>
    <div><ButtonPrimary text={t("extra").visitWeb} url={url} /></div>
  </div>
</div>

<style lang="scss" define:vars={{ urlBgImg }}>
  .card-color {
    background: linear-gradient(329.13deg, #0044cb -0.94%, #0086d4 68.8%);
    position: relative;

    box-shadow: 0px 3px 37px 2px rgba(0, 0, 0, 0.25);
    // border-radius: 20px;
    overflow: hidden;

    &::before {
      content: "";
      background: var(--urlBgImg);
      background-position: center;
      background-size: 140%;
      background-repeat: no-repeat;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      opacity: 0.05;
    }
  }

  [data-card-color="blue"] {
    background: linear-gradient(329.13deg, #0044cb -0.94%, #0086d4 68.8%);
  }

  [data-card-color="green"] {
    background: linear-gradient(329.13deg, #00a879 -0.94%, #00a36d 28.26%);
  }
  [data-card-color="purple"] {
    background: linear-gradient(329.13deg, #3d00cb -0.94%, #7800d4 68.8%);
  }

  .card-color--layout {
    display: grid;
    gap: 1rem;
    z-index: 30;
    position: relative;
  }

  h4 {
    // font-family: "SF Pro Text";
    // font-family: "SF Pro Text";
    font-weight: 600;
    line-height: 120%;
  }
</style>
